body {
    background-image: url(background.jpg);
}

#game-field {
    margin-top: 10%;
    font-family: "Indie Flower";
}

#game {
    width:          300px;
    height:         300px;
    background:     white;
    align-content:  center;
}

.block {
    width:          100px;
    height:         100px;
    float:          left;
    border:         1px solid black;
    background:     lightgrey;
    box-sizing:     border-box;
    line-height:    100px;
    text-align:     center;
    font-size:      90px;
    opacity:        0.5;
}

.block:hover {
    width:          100px;
    height:         100px;
    float:          left;
    border:         1px solid black;
    box-sizing:     border-box;
    line-height:    100px;
    text-align:     center;
    font-size:      90px;
    opacity:        1;
}

.restart {
    font-family:    "Indie Flower";
    font-size:      30px;
    border:         none;
    margin-top:     15px;
    text-align:     center;
}

.restart:focus {
    outline:        none;
}

.restart:hover {
    box-shadow:
                    1px 1px #53a7ea,
                    2px 2px #53a7ea,
                    3px 3px #53a7ea;
                    -webkit-transform: translateX(-3px);
    transform:      translateX(-3px);
}